body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}





/*parte de navegação 2*/
.header {
  background-color: rgb(0, 128, 6);;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 90%;
  z-index: 3;
  top: 80px;
  margin-left: 5%;
  border-radius: 20px;
  
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f0f0f0;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #33333346;
  border-radius: 20px;
}



/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 93px;
  }
  .header .menu {
    clear: none;

    max-height: none;
    background-color: rgba(47, 161, 255, 0);
  }
  .header .menu-icon {
    display: none;
  }
}



/*Parte de navegação 1*/
.header2 {
  background-color: rgba(255, 255, 255, 0);;
  position: fixed;
  width: 90%;
  z-index: 3;
  top: 0px;
  margin-left: 5%;
 
}

.header2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header2 li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: #000000;
}

.header2 li a:hover,
.header2 .menu-btn:hover {
  background-color: #f4f4f4;
  border-radius: 20px;
}

.header2 .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* menu icon */

.header2 .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header2 .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header2 .menu-icon .navicon:before,
.header2 .menu-icon .navicon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header2 .menu-icon .navicon:before {
  top: 5px;
}

.header2 .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header2 .menu-btn {
  display: none;
}

.header2 .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header2 .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header2 .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header2 .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header2 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header2 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header2 li {
    float: left;
  }
  .header2 li a {
    padding: 20px 30px;
  }
  .header2 .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: rgba(47, 161, 255, 0);
  }
  .header2 .menu-icon {
    display: none;
  }
}



/*bara de pequisa*/

.header2 .search-form {
  display: flex; 
  align-items: center; 
}

.header2 .search-input {
  padding: 14px;
  border: none;
  border-radius: 5px;
  flex-grow: 1; /* A caixa de pesquisa crescerá para preencher o espaço disponível */
  margin-top: 15px;
  font-size: 14px;
  border-radius: 20px;
}

.header2 .search-button {
  background-color: #ffffff00;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 5px;
}

.header2 .search-button img {
  width: 30px; 
  height: 30px; 
}

/*carousel*/

.carousel-container {
  width: 85%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 220px;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 100%;
  padding: 20px;
  background-color: #f0f0f000;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
}

button {
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  cursor: pointer;
}

.prev-button {
  position: absolute;
  left: 100px;
  top: 90%;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  right: 100px;
  top: 90%;
  transform: translateY(-50%);
}

/*Produtos*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  padding: 20px;
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 18%;
  width: 85%;
  border-radius: 20px;
}

.product {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos de imagem do produto */
.product img {
  max-width: 100%;
  height: auto;
}

/* Estilos de informações do produto */
.product-info {
  padding: 20px;
}

.product-info h2 {
  font-size: 24px;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  font-size: 20px;
  color: #007bff;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.star {
  color: #ffc107;
}

.rating-count {
  margin-left: 10px;
  color: #888;
}

/* Estilos do botão de compra */
.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #0056b3;
}
        
    
        .footer {
          background-color: #3b3b3b62;
          color: #000000;
          padding: 20px;
          min-height: 18%;
          margin-top: 30%;
          
        }
    
        .footer-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    
        .footer-section {
          flex: 1;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
        }
    
        .footer-logo {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          
        }
        img{
          font-size: 12px;
          font-weight: bold;
          text-align: center;
        }
    
        .footer-credits {
          text-align: center;
          margin-top: 18px;
          justify-content: space-between;
        }

        


      